.form-setting-detail .row-action-top {
    margin-bottom: 16px;
}

.form-setting-detail .row-action-bottom {
margin-bottom: 16px;
}

.form-setting-detail .btn-save,
.form-setting-detail .btn-logout,
.form-setting-detail .btn-account-list {
    width: 100%;
    height: 50px;
    font-size: 1rem;
}

.form-setting-detail .btn-save,
.form-setting-detail .btn-save:active,
.form-setting-detail .btn-save:focus {
    background-color: #87d068;
    border: 1px solid #87d068;
    color: #fff;
    margin-bottom: 16px;
}

.form-setting-detail .form-team-detail {
    background: #fff;
    padding: 16px;
}

.form-setting-detail .btn-account-list,
.form-setting-detail .btn-account-list:active,
.form-setting-detail .btn-account-list:focus {
    background-color: #87d068;
    border: 1px solid #87d068;
    color: #fff;
    margin-top: 16px;
}
