.row-action-top {
  margin-bottom: 16px;
}

.row-action-bottom {
  margin-bottom: 16px;
}

.btn-save,
.btn-insert {
  width: 100%;
  height: 50px;
  font-size: 1rem;
}

.btn-insert {
  background-color: #87d068;
  border: 1px solid #87d068;
  color: #fff;
}

.form-time-keeping-detail {
  background: #fff;
  padding: 16px;
}