.container-account {
  padding: 16px;
  height: calc(100vh - 32px);
}

.row-action-top {
  margin-bottom: 16px;
}

.row-action-bottom {
  margin-bottom: 16px;
}

.btn-save {
  width: 100%;
  height: 50px;
  font-size: 1.2rem;
}